<!DOCTYPE html>
<html>
<head>
    <title>42 Coffee Cups Test Assignment</title>
</head>
<body>
<h2>42 Coffee Cups Test Assignment</h2>
<table>
    <tr>
        <th>Name</th>
        <th>Contacts</th>
    </tr>
    <tr>
        <td>
            First name: {{ mainuser.first_name }}<br />
            Last name: {{ mainuser.last_name }}<br />
            Date of birth: {{ mainuser.date_of_birth }}<br />
            Bio: <br/>{{ mainuser.bio }}<br />
        </td>
        <td>
            Email: {{ mainuser.email }}<br />
            Jabber: {{ mainuser.jabber }}<br />
            Skype: {{ mainuser.skype }}<br />
            Other contacts: <br/>{{ mainuser.other_contacts }}<br />
        </td>
    </tr>
</table>
</body>
</html>